body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #c9e1f7; 
}


header {
    background-color: #e6f3ff; 
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #b0d4ff;
}



img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}


.widget {
    margin: 0 auto;
    width: fit-content;
    padding: 20px 0;
}


p {
    font-size: 18px;
}



.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: steelblue;
    display: flex;
    gap: 20px;
}

.menu li {
    position: relative;
    white-space: nowrap;
}

.menu a{
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover {
    background: #c9e1f7 ;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: lightblue;
    min-width: 160px;
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li a {
    padding: 12px;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.innhold-rad {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20 px;
}

.tekst {
    width: 50%;
}

.yr-widget {
    width: 50%;
}

.footer-tekst{
    text-align: center;
    background: #e6f3ff;
    padding: 50px;
}


